.gameLink {
	display: block;
	width: 550px;
	height: 350px;
	line-height: 350px;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 10px;
	transition: background-color 0.3s, transform 0.3s;
	margin-top: 50px;
	font-size: 50px;
	font-weight: bold;
  }

.quizLink {
	display: block;
	width: 220px;
	height: 150px;
	line-height: 150px;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 10px;
	transition: background-color 0.3s, transform 0.3s;
	margin: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 15px;
  }
  
  .gameLink:hover, .quizLink:hover {
	background-color: #e0e0e0;
	transform: scale(1.05);
  }