.navButton {
  display: inline-block;
  text-align: center;
  padding-right: 75px;
  padding-left: 75px;
  font-size: 40px;
  background-color: white;
  box-shadow: none;
  border: none;
  
}

.mainNav {
  margin-left: 90px;
  border-bottom: solid;
  margin-right: 90px;
}

.title {
  display: inline-block;
  text-align: top;
  font-size: 60px;
}

.settingsButton {
  display: inline-block;
  
  height: 60px;
  width: 60px;
  margin: 20px;
}

.settingsSection {
  display: inline-block;
  margin-left: 730px;
}

.logo {
  display: inline-block;
  margin-right: 50px;
}
