.navButton {
  display: inline-block;
  text-align: center;
  padding-right: 75px;
  padding-left: 75px;
  font-size: 40px;
  background-color: white;
  box-shadow: none;
  border: none;
  
}

html {
  background-color: #F5F5DC;
}

.navButton:hover {
  background-color: lightgreen;
}

.mainNav {
  margin-left: 90px;
  border-bottom: solid;
  margin-right: 90px;
}

.title {
  display: inline-block;
  text-align: top;
  font-size: 60px;
}

.settingsButton img{
  height: 50px;
  width: 50px;
}

.settingsButton button{
  display: inline-block
}

.settingsSection {
  display: inline-block;
  margin-left: 500px;
}

.logo {
  display: inline-block;
  margin-right: 50px;
}
