.mainContent {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	padding: 2rem;
	box-sizing: border-box;
	height: 100%;
	gap: 2rem;
  }
  
  .rightButtons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
	margin-top: 5rem;
  }
  
  .leftButtons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;
  }

  .smallButtonsContainer {
	display: flex;
	gap: 3rem; 
	justify-content: space-between;
	width: 100%;
  }
  
  @media (max-width: 768px) {
	.mainContent {
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
  
	.smallButtonsContainer {
	  flex-direction: row;
	}
  
  }
  