.mainContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem;
	box-sizing: border-box;
	gap: 2rem;
	height: auto; 
	background-color: #F5F5DC;
}

.rightButtons {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	flex: 1 1 48%;
	margin-top: 5rem;
}

.leftButtons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1 1 48%; 
}

.smallButtonsContainer {
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	width: 100%;
}

@media (max-width: 768px) {
	.mainContent {
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}

	.smallButtonsContainer {
	  flex-direction: row;
	}
}
