html, body {
	margin: 0;
	padding: 0;
	height: 100%;
  }
  
  body {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  .mainContent {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	box-sizing: border-box;
	height: 100%;
	gap: 2rem;
  }
  
  .rightButtons, .leftButtons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0;
	flex: 1;
  }
  
  .rightButtons {
	align-items: flex-end;
  }
  
  .leftButtons {
	align-items: flex-start;
  }
  
  @media (max-width: 768px) {
	.main-content {
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
  
	.rightButtons, .leftButtons {
	  align-items: center;
	}
  }