.newsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F5F5DC;
  }
  
  .blogSection {
	flex: 1;
	margin: 10px;
	order: 1;
  }
  
  .rightSection {
	flex: 2;
	display: flex;
	flex-direction: column;
	margin: 10px;
	order: 2;
	margin-left: 100px;
	width: 50%;
  }
  
  .trendingSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	margin-left: 50px;
  }
  
  .trendingItems {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    overflow-x: auto;
}

.trendingItem {
    flex: 0 0 30%;
    margin-right: 20px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #000000;
    padding: 10px;
}

.trendingImage {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
}

.trendingItem h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.trendingItem p {
    font-size: 0.9rem;
    color: #666;
    text-align: left;
    margin-bottom: 10px;
}

.newsItemsContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.newsItem {
    flex: 0 0 30%;
    margin-right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.newsItem:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.newsItem img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.newsItem h2 {
    font-size: 1rem;
    font-weight: bold;
}

.newsItem p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}
  
  .blog, .trending, .news, .trendingItem, .newsItem {
	border: 2px solid #000000;
	padding: 10px;
  }
  
  .blog {
	min-height: 600px;
	width: 105%;
  }

  .newsItemsContainer {
	display: flex;
	align-items: center;
  }

  .arrowButton {
	background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  }

  .leftArrow {
	margin-right: 10px;
	background-image: url("/public/arrow_left.svg");
  }

  .rightArrow {
	background-image: url("/public/arrow_right.svg");
  }